{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.11"
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}